/* default gradient orange */
:root {
    --gradient-orange: linear-gradient(to right, red, orange);
}

/* Make the wallpaper curve with a gray overlay on top */
#wallpaper {
    background:
        linear-gradient(rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5)),
        url(/images/backgroundwallpaper.png);
    background-size: 100% 100%;
    border-radius: 0 0 50% 50% / 0 0 50px 50px;
    height: 50vh;
}

/* Change the default font */
body {
    font-family: "Roboto", sans-serif;
}

/* xtra small font */
.xs {
    font-size: 0.75rem;
}
/* Gradient for bg-warning */
.bg-warning {
    background: linear-gradient(135deg, #fe4401 9%, #ffa500 100%) !important;
}

.bg-orange {
    background-color: orange !important;
}

.bg-solid-orange {
    background: orange !important;
}
